<% provide(:title, 'Help')%>
	<h1>Help</h1>
	<p>
		Help is available on the <a href="http://railstutorial.org/help">help page</a> and you can buy the book <a href="http://railstutorial.org/book">here</a>.
	</p>
